.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000;
    color: #eee;
}
.walkie {
    margin: auto;
}
.map:focus {
    outline: none;
}
.map {
    border: 8px solid #464646;
}
.win-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #050;
}
.win-level button {
    background: #181;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
}
.win-level button:focus {
    outline: none;
}

.player, .target, .wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    position: absolute;
}
.player {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}
.player.next {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}
.player.animate-eat {
    animation-name: example;
    animation-duration: 0.3s;
}
@keyframes example {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(1);}
}

.target {
}
.wall {
    border-radius: 40%;
    border: 3px solid #333;
    background: #000;
    box-sizing: border-box;
}
